.landingpage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    text-align: center;
    /* background-color: #9599E2;
    background-image: linear-gradient(62deg, #9599E2 0%, #222 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.loginAnchor {
    color: blue;
    text-decoration: none;
    padding: 20px;
  }